@using BlazorApp.Components

<div>
    <Row Gutter="16" Style="display: flex; align-items: center;">
        <Col Span="5" Style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
        <h2 style="text-decoration: underline">
            TRACNGHIEMXSTK
        </h2>
        </Col>
        <Col Span="4" Style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
        <Menu Style="display: flex; flex-direction: row; flex-wrap: wrap;" Mode=MenuMode.Horizontal>
                @* <SubMenu Key="sub10" Title="Ôn thi THPT" OnTitleClick="OnClickOnThiTHPT">
            </SubMenu> *@
            <MenuItem Key="19">
                <NavLink href="/onthithpt">
                    Ôn thi THPT
                </NavLink>
            </MenuItem>
        </Menu>
        </Col>
        <Col Span="3" Style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
        <Menu Style="display: flex; flex-direction: row; flex-wrap: wrap;" Mode=MenuMode.Horizontal>
            <SubMenu Key="sub1" Title="Lớp 12">
                <SubMenu Key="sub2" Title="Xác suất">
                    <MenuItem Key="6">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 12, 1)'>
                            Bài 1. Xác suất có điều kiện
                        </Button>
                    </MenuItem>
                    <MenuItem Key="7">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 12, 2)'>
                            Bài 2. Công thức xác suất toàn phần
                        </Button>
                    </MenuItem>
                </SubMenu>
                <SubMenu Key="sub3" Title="Thống kê">
                    <MenuItem Key="8">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Thống kê", 12, 1)'>
                            Bài 1. Khoảng biến thiên và khoảng tứ phân vị
                        </Button>
                    </MenuItem>
                    <MenuItem Key="9">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Thống kê", 12, 2)'>
                            Bài 2.Phương sai và độ lệch chuẩn
                        </Button>
                    </MenuItem>
                </SubMenu>
            </SubMenu>
        </Menu>
        </Col>
        <Col Span="3" Style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
        <Menu Style="display: flex; flex-direction: row; flex-wrap: wrap;" Mode=MenuMode.Horizontal>
            <SubMenu Key="sub4" Title="Lớp 11">
                <SubMenu Key="sub5" Title="Xác suất">
                    <MenuItem Key="10">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 11, 1)'>
                            Bài 1. Biến cố hợp,biến cố giao,biến cố độc lập
                        </Button>
                    </MenuItem>
                    <MenuItem Key="11">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 11, 2)'>
                            Bài 2.Công thức cộng xác suất
                        </Button>
                    </MenuItem>
                    <MenuItem Key="12">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 11, 3)'>
                            Bài 3. Công thức nhân xác suất cho 2 biến cố độc lập
                        </Button>
                    </MenuItem>
                </SubMenu>
                <SubMenu Key="sub6" Title="Thống kê">
                    <MenuItem Key="13">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Thống kê", 11, 1)'>
                            Bài 1.Mẫu số liệu ghép nhóm
                        </Button>
                    </MenuItem>
                    <MenuItem Key="14">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Thống kê", 11, 2)'>
                            Bài 2.Các số đặc trưng đo xu thế trung tâm
                        </Button>
                    </MenuItem>
                </SubMenu>
            </SubMenu>
        </Menu>
        </Col>
        <Col Span="3" Style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
        <Menu Style="display: flex; flex-direction: row; flex-wrap: wrap;" Mode=MenuMode.Horizontal>
            <SubMenu Key="sub7" Title="Lớp 10">
                <SubMenu Key="sub8" Title="Xác suất">
                    <MenuItem Key="15">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 10, 1)'>
                            Bài 1.Không gian mẫu và biến cố
                        </Button>
                    </MenuItem>
                    <MenuItem Key="16">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Xác suất", 10, 2)'>
                            Bài 2.Xác suất của biến cố
                        </Button>
                    </MenuItem>
                </SubMenu>
                <SubMenu Key="sub9" Title="Thống kê">
                    <MenuItem Key="17">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Thống kê", 10, 1)'>
                            Bài 1.Các số đặc trưng đo xu thế trung tâm của mẫu số liệu
                        </Button>
                    </MenuItem>
                    <MenuItem Key="18">
                        <Button Type="ButtonType.Text" OnClick='() => OnClickLuyenTap("Thống kê", 10, 2)'>
                            Bài 2.Các số đặc trưng đo độ phân tán của mẫu số liệu
                        </Button>
                    </MenuItem>
                </SubMenu>
            </SubMenu>
        </Menu>
        </Col>
        <Col Span="6" Style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
        <Menu Style="display: flex; flex-direction: row; flex-wrap: wrap;" Mode=MenuMode.Horizontal>
            <SubMenu Key="sub11" Title="@($"Xin chào, {FullName}")">
                <MenuItem Key="1">
                    <Button Type="ButtonType.Text" OnClick="OnEditUser">Thông tin tài khoản</Button>
                </MenuItem>
                    @if (Role == "Admin")
                    {
                    <MenuItem Key="2">
                        <NavLink href="/userlist">
                            <Button Type="ButtonType.Text">Quản lý người dùng</Button>
                        </NavLink>
                    </MenuItem>
                    }
                    @if (Role == "Admin" || Role == "Teacher")
                    {
                    <MenuItem Key="3">
                        <NavLink href="/questionlist">
                            <Button Type="ButtonType.Text">Quản lý câu hỏi</Button>
                        </NavLink>
                    </MenuItem>
                    <MenuItem Key="4">
                        <NavLink href="/examlist">
                            <Button Type="ButtonType.Text">Quản lý đề thi</Button>
                        </NavLink>
                    </MenuItem>
                    }
                <MenuItem Key="5">
                    <Button Type="ButtonType.Text" OnClick="Logout">Đăng xuất</Button>
                </MenuItem>
            </SubMenu>
        </Menu>
        </Col>
    </Row>
    <Drawer Closable
            Visible="isEdit"
            Title='("Thông tin tài khoản")'
            OnClose="OnClodeDrawer"
            Width="600">
        <Template>
            <Add_EditUser @ref="addEditUser"
                          IsEdit="@true"
                          userAddEditModel="userAddEditModel">
            </Add_EditUser>
        </Template>
    </Drawer>
</div>